doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Document
		script(src='https://code.jquery.com/jquery-3.6.3.min.js' integrity='sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=' crossorigin='anonymous')
	body
		datalist#cities-list

		modal-window#volume-weight-modal-window(style='display: none')
			darking(style='')
			content
				span.cross
				.popup-header Объемный вес
				.popup-main  
					span Объемный вес учитывается при рассчете стоимости доставки, если  
					span(style='font-weight: 700') высота*ширина*длина/5000 
					span  больше веса посылки
		wrapper
			header
				h1.header-headline Рассчитать стоимость доставки
			main
				#package-type-block
					span.headline Тип отправки:
					.package-type-checkboxes
						.package-type-checkbox-block
							label(for='package-type-standart') Товары из интернет магазинов
							input#package-type-standart(type='radio' name='package-type' value='standart' checked='checked')
						.package-type-checkbox-block
							label(for='package-type-documents') Документы
							input#package-type-documents(type='radio' name='package-type' value='documents')
						.package-type-checkbox-block
							label(for='package-type-B2B') B2B
							input#package-type-B2B(type='radio' name='package-type' value='B2B')
				section.upper-inputs-block
					.input-block
						input#sender-country(list='cities-list' placeholder='Откуда' type='text' value='Istanbul' disabled='')
					div
						img(src='/static/right-arrow-svgrepo-com.svg' height='25px' width='25px' alt='')
					.input-block
						input#receiver-country(list='cities-list' placeholder='Куда' type='text')
				section.central-inputs-block
					.places-block
						#place-block-1.place-block
							.place-grid.standart
								.weight-size
									input.weight(placeholder='Вес' type='text')
								.package-sizes
									.size
										input.length(placeholder='Длина' type='text')
									.size
										input.width(placeholder='Ширина' type='text')
									.size
										input.height(placeholder='Высота' type='text')
				section.downer-input-blocks
					button#new-place-button.btn.btn-primary-light Добавить место
					#cost-in-dollars
						input#cost(placeholder='Объявленная стоимость в долларах' type='text')
					.downer-block-column
						select#delivery-type(name='')
							option(value='store-store')
								| склад-склад
							option(value='store-door')
								| склад-дверь
							option(value='door-door')
								| дверь-дверь

				.calculate-button-block
					button.calculate-button.btn.btn-green-light Рассчитать

				section.price-section
					.upper
						.volume-weight
							| При рассчете был учтен  
							span.volume-weight-link.link   объемный вес
					.downer
						span 5-8 рабочих дней=
						span#price(style='font-weight:700;') 
						button.btn.btn-green-light.call-courier-button Вызвать курьера
		script(src='/static/js/calculator.js')
