<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/buttons.css">
    <link rel="stylesheet" href="../css/table.css">
    <link rel="stylesheet" href="../css/typespage.css">
    <link rel="stylesheet" href="../css/popup.css">
    <link rel="stylesheet" href="../css/inputs.css">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous">
    </script>
</head>
<darking style="display:none"></darking>
<modal-window id="create-new-type-popup" style="display:none">
    <span class="cross"></span>
    <form action="" method="POST">
        <section class="form-section">
            <div class="form-section-title">Создать новый тип</div>
            <div class="input-block">
                <label for="">En-name</label>
                <input type="text" name="en-name" id="new-type-en-name">
            </div>

            <div class="input-block">
                <label for="">Tr-name</label>
                <input type="text" name="tr-name" id="new-type-tr-name">
            </div>

            
            <div class="input-block">
                <label for="">Ro-name</label>
                <input type="text" name="ro-name" id="new-type-ro-name">
            </div>
            
            <div class="input-block">
                <label for="">Gtip code</label>
                <input type="text" name="gtip-code" id="new-type-gtip-code">
            </div>
            
            <div class="input-block">
                <label for="">Item code</label>
                <input type="text" name="item-code" id="new-type-item-code">
            </div>

            <div class="input-block">
                <label for="">Near weight</label>
                <input type="text" name="near-weight" id="new-type-near-weight">
            </div>
            <div class="input-block row">
                <label for="">Warning</label>
                <input type="checkbox" name="near-weight" id="new-type-warning" class="checkbox">
            </div>
        </section>
    </form>
    <div class="form-buttons">
        <button type="submit" id="new-type-submit" class="btn btn-green-light">Создать</button>
    </div>
</modal-window>
<modal-window id="edit-type-popup" style="display:none">
    <span class="cross"></span>
    <form class="form" id="edit-type-form" action="" method="POST">
        <div class="form-section-title">Редактировать новый тип</div>
        <div class="input-block">
            <label for="">En-name</label>
            <input type="text" name="en-name" id="edit-type-en-name">
        </div>

        <div class="input-block">
            <label for="">Tr-name</label>
            <input type="text" name="tr-name" id="edit-type-tr-name">
        </div>

        
        <div class="input-block">
            <label for="">Ro-name</label>
            <input type="text" name="ro-name" id="edit-type-ro-name">
        </div>
        
        <div class="input-block">
            <label for="">Gtip code</label>
            <input type="text" name="gtip-code" id="edit-type-gtip-code">
        </div>
        
        <div class="input-block">
            <label for="">Item code</label>
            <input type="text" name="item-code" id="edit-type-item-code">
        </div>

        <div class="input-block">
            <label for="">Near weight</label>
            <input type="text" name="near-weight" id="edit-type-near-weight">
        </div>
        <div class="input-block row">
            <label for="">Warning</label>
            <input class="checkbox" type="checkbox" name="near-weight" id="edit-type-warning">
        </div>
    </form>
    <div class="form-buttons">
        <button type="submit" id="edit-type-submit" class="btn btn-green-light">Сохранить</button>
    </div>
</modal-window>
<body>
    <content>
        <header class="header"> 
            <h3>Types page</h3>
        </header>
        <button id="create-new-type-button" class="btn btn-primary">+ Create new type</button>
        <section class="types-section">
            <div class="type-block">
                <table class="table" cellspacing="0">
                    <thead>
                        <tr>
                            <td prefix="">tr-name</td>
                            <td prefix="">en-name</td>
                            <td prefix="">ro-name</td>
                            <td prefix="">Gtip code</td>
                            <td prefix="">Code of type</td>
                            <td prefix="">Near weight(kg)</td>
                            <td prefix="">
                                <button id="table-select-button"class="btn btn-green-light">Select</button>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </content>

    <script src="/static/js/typespage.js" defer></script>
    <script src="../js/popup.js" defer></script>
    <script src="../js/typespage/typespage-popup.js" defer></script>
    <script src="../js/typespage/types-uploading.js" defer></script>
    <script src="../js/typespage/select-all-inputs.js" defer></script>
</body>
</html>