doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='../css/table.css')
		link(rel='stylesheet' href='../css/tablepage.css')
		link(rel='stylesheet' href='../css/buttons.css')
		script(src='https://code.jquery.com/jquery-3.6.3.min.js' integrity='sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=' crossorigin='anonymous')
		title Document
	body
		include ../components/new-shipment-popup.pug
		modal-window#edit-item-modal-window(style='display: none;')
			darking(style='display: none;')
			content
				span.cross
				form#edit-item-form(action='#')
					h3.form-section-title  Отправитель
					.input-block
						label Item Name
						input#edit-item-datalist-input.edit-item-datalist-input(list='edit-item-datalist' type='text' placeholder='Начните вводить название товара')
						datalist#edit-item-datalist.item-datalist
					.input-block
						label Tr-name:
						input#edit-item-tr-name(name='tr-name' type='text' placeholder='Автозаполнение')
					.input-block
						label Ro-name:
						input#edit-item-ro-name(name='ro-name' type='text' placeholder='Автозаполнение')
					.input-block
						label En-name:
						input#edit-item-en-name(name='en-name' type='text' placeholder='Автозаполнение')
					.input-block
						label GTIP kod:
						input#edit-item-gtip-code(name='gtip-code' type='text' placeholder='Автозаполнение')
					.input-block
						label Item kod:
						input#edit-item-code(name='item-code' type='text')
					.input-block
						label Weight:
						input#edit-item-weight(name='item' type='text' placeholder='Приблизительный вес товара')
					.input-block
						label Item Link:
						input#edit-item-link(name='item-link' type='text')
					.input-block
						label Value TL:
						input#edit-item-value(name='value' type='text' placeholder='Цена в лирах')
					.input-block(style='max-width: 200px')
						label Count:
						input#edit-item-count(name='count' type='number' value='1' placeholder='Количество')
					.input-block(style='max-width: 200px')
						label Country code:
						select#edit-item-country-code(name='country-code')
							option(value='TR') TR
							option(value='RO') RO
							option(value='RU') RU
							option(value='MD') MD
					.input-block(style='flex-direction: row')
						label Warning:
						input#edit-item-warning(name='warning' type='checkbox' style='width: 18px; height:18px')
				button#edit-item-send-form-button.btn.form-button.create Сохранить
		wrapper
			header
				.header-inf.text-responsive
					.select-date
						span Gönderi Tarihi:
						.date-block
							input(type='date')
							input(type='date')
							button.btn-small.btn.btn-green-light Listele
				.text-responsive.header-warning
					| Durumu SEVK EDİLMEDİ olan gönderileri CAPITAL'e teslim ettiğinizde SEVK EDİLDİ olarak güncelleyiniz. SEVK EDİLMEDİ olarak kalan gönderiler CAPITAL sistemlerinde görünmez.
				
			main
				.content-upper.text-responsive
					.content-upper-search
						span Search
						input(type='text')
					.buttons
						button.btn.btn-primary.create-new-post-btn Создать новый пост
						button.btn.btn-primary
							span Seçili Satırları SEVK EDİLDİ Yap
				table.table.table-first
					thead
						tr
							td
								.table-head-td-block
									.svg-block
										img(src='../svg/id-card-svgrepo-com.svg' alt='')
									span id
							td
								.table-head-td-block
									.svg-block
										img(src='../svg/id-card-svgrepo-com.svg' alt='')
									span track
							td
								.table-head-td-block
									.svg-block
										img(src='../svg/id-card-svgrepo-com.svg' alt='')
									span key
							td
								.table-head-td-block
									.svg-block
										img(src='../svg/id-card-svgrepo-com.svg' alt='')
									span key
							td.hiddenable
								.table-head-td-block
									.svg-block
										img(src='../svg/id-card-svgrepo-com.svg' alt='')
									span key
							td.table-head-checkbox
								span watch events
							td.table-head-checkbox
								button#table-select-button.btn-green-light(data-selected='false') Select
					tbody
		script(src='/static/js/tablepage.js' defer='')
