@import '../vendor/variables.scss';

body {
    margin: 0;    
    position: relative;
}
// content.dark{
//     height: 100vh;
//     display: block;
//     overflow: hidden;
// }

modal-window {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    z-index: 50;
    
    
    darking {
        position: fixed;
        display: block;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.315);
        z-index: 51;
    }
    
    content {
        transition: transform .5s ease;
        transform: scale(0);
        
        position: relative;
        z-index: 52;
        
        overflow: auto;
        box-sizing: border-box;
        background: #fff;
        
        height: fit-content;
        min-height: 200px;
        max-height: 80vh;
        
        width: 90vw;
        max-width: 500px;
        border: 1px solid #ddd;
        border-radius: 20px;
        padding: 20px;
        
    }

    .cross {
        display: block;
        position: absolute;
        right: 5%;
        top: 5%;
        height: 25px;
        width: 25px;
        cursor: pointer;
    }
    
    .cross::before,
    .cross::after {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        width: 20px;
        background-color: #000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .cross::before{
        transform: rotate(45deg);
    }
    .cross::after {
        transform: rotate(-45deg);
    }
    
    .form {
        display: flex; 
        flex-direction: column;
        gap: 15px;
    }
    
    .form-section {
        display: flex; 
        flex-direction: column;
        gap: 15px;
    }
    
    .form-section-title{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(26, 184, 168);
        margin: 10px 0;
    }
    
    .input-block {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .input-block label {
        font-size: 0.9rem;
        color: rgb(43, 43, 43);
        font-weight: 600;
    }
    
    .input-block.row {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    .form-buttons {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        height: fit-content;
    }
    
    .form-button {
        padding: 8px 25px;
        background: none;
        color: #fff;
        border: none;
        border-radius: 3px;
        font-weight: bald;
        box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.279);
    }
    
    .form-button.next, 
    .form-button.create{
        background-color: $green-light;
    }
    
    .form-button.prev {
        background-color: $red;
    }
    .form-button.prev.active {
        background-color: $red-dark;
    }
}
